/**
* Pulse button
*/
@keyframes pulse-button {
    from {
        transform: translate(-50%, -50%) scale(0);
        opacity: 1;
    }
    
    to {
        transform: translate(-50%, -50%) scale(2);
        opacity: 0;
    }
}

/**
* Fade In
*/
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/**
* Fade In Scale
*/
@keyframes fadeInScale {
    from {
        opacity: 0;
        transform: scale(1.02)
    }

    to {
        opacity: 1;
        transform: scale(1)
    }
}

/**
* Spinner Rotate
*/
@keyframes spinnerRotate {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(1turn);
    }
}

/**
* Spinner Swing
*/
@keyframes spinnerSwing {
    from {
        stroke-dashoffset: 0;
    }

    to {
        stroke-dashoffset: 64;
    }
}