body.home {
    & .main {
        display: flex;
        justify-content: space-between;
    }

    & .profile {
        width: calc(30% - 1.5em);
    }

    & .resume {
        width: calc(70% - 1.5em);
    }
}