.about {
    display: flex;
}

.about__ {
    &section {
        flex: 1;
    }

    &section + &section {
        margin-left: 3em;
    }

    &title {
        font-size: 1.25em;
        margin-bottom: 1.1em;
        text-transform: uppercase;
    }

    &hr {
        margin: 1em 0 1.6em 0;
    }

    &item {
        position: relative;
        padding-left: 2em;

        &::before {
            content: '';
            position: absolute;
            z-index: 1;
            top: 0.08em;
            left: 0;
            width: 0.8em;
            height: 0.8em;
            border-radius: 50%;
            background-color: var(--color-accent);
            box-shadow: inset 0 0 0 4px var(--color-neutral-lt), 0 0 1px 1px rgba(100, 100, 100, 0.2);
        }

        &:nth-of-type(n+2) {
            &::after {
                content: '';
                position: absolute;
                z-index: 0;
                top: calc(-100% - 1em);
                left: 5.399px;
                width: 2px;
                height: calc(100% + 1em);
                background-color: var(--color-neutral-lt);
            }
        }
    }

    &item + &item {
        margin-top: 1.5em;
    }

    &item-meta {
        color: var(--color-neutral-dk);
        font-size: 0.9em;
        margin-bottom: 0.75rem;
    }

    &item-title {
        font-size: 1.1em;
        margin-bottom: 0.75rem;
    }

    &item-icon {
        display: inline-block;
        width: 1em;
        height: 1em;
        vertical-align: -2.5px;
        margin-right: .25em;
        fill: var(--color-neutral);
    }

    &item-skills {
        display: flex;
        font-size: 0.9em;
        color: var(--color-accent);
    }

    &item-skill + &item-skill {
        position: relative;
        margin-left: 1em;
        text-align: center;

        &::before {
            content: '';
            position: absolute;
            top: 50%;
            left: -0.65em;
            width: 0.3em;
            height: 0.3em;
            transform: translateY(-50%);
            background-color: var(--color-neutral);
            border-radius: 50%;
        }
    }
}