.forms {
    opacity: 0;
    pointer-events: none;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(188, 207, 214, 0.95);
    overflow-y: auto;
    padding: 1em;
}

.forms__ {
    &toggle {
        position: absolute;
        top: 2em;
        right: 2em;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 3px;
        padding: 0 0.25em 0.25em;

        & .svg-icon__x {
            fill: var(--color-white);
            width: 4em;
            height: 4em;
            margin-bottom: .25em;
        }

        &::after {
            display: none;
        }
    }

    &toggle-mb {
        padding: 0;
        width: 2.5em;
        height: 2.5em;
        top: 2em;
        right: 2em;
        z-index: 2;
    }

    &toggle-dk {
        display: none;
    }

    &anchor {
        position: relative;
        max-width: 50em;
        width: 100%;
        margin: auto;
    }

    &container {
        display: none;
        padding: 6em 2em 2em 2em;
    }
}

@media screen and (min-width: 71.875em) {
    .forms__ {
        &container {
            padding: 3em;
        }

        &toggle-mb {
            display: none;
        }

        &toggle-dk {
            display: flex;
        }
    }
}

.forms-- {
    &is-visible {
        opacity: 1;
        pointer-events: all;
        animation: fadeInScale .3s ease;
    }
}

.form-- {
    &is-active {
        display: block;
    }
}