.spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-white);
    animation: fadeIn .2s ease;
}

.spinner__ {
    &icon {
        width: 10em;
        height: 10em;
    }

    &circle {
        fill: none;
        stroke-width: 1;
        stroke-linecap: round;
        stroke: var(--color-accent);
        stroke-dasharray: 64;
        transform-origin: center center;
        animation: 
            spinnerSwing 1s linear infinite alternate,
            spinnerRotate 2s linear infinite;
    }
}