.topography-bg {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    mix-blend-mode: color-dodge;
    pointer-events: none;
}

body.supports-mixBlendMode {
    & .topography-bg {
        opacity: 0.1;
    }
}